html {
    background-color: #f03612;
}

body {
    margin: 0;
    text-align: center;
}

.text {
    color: white;
    font-family: 'Lato', sans-serif;
}

.hero-container {
    background-color: #f03612;
    position: relative;
    padding-top: 100px;
}

.puck {
    position: absolute;
    height: 100px;
}

.puck-top {
    right: 200px;
    top: 150px;
}

h1 {
    font-family: 'Yeseva One', serif;
    font-size: 5rem;
    margin-top: 200px;
    margin-bottom: 0;
}

.hero-p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 20px;
    color: black;
}

.puck-bottom {
    bottom: 200px;
    left: 150px;
}

.laptop {
    height: 300px;
}

.middle-container {
    padding: 100px 0 0 0;
    background-color: #252629;
}

.portrait {
    height: 200px;
    border-radius: 50%;
}

h2 {
    font-size: 3rem;
}

.profile-p {
    font-size: 1.5rem;
}

.page-break {
    height: 50px;
    transform: rotate(180deg);
    margin-top: 50px;
}

h3 {
    font-size: 1.5rem;
}

.skills-container {
    margin-top: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.skill-img {
    height: 150px;
    border-radius: 60px;
    border: solid #f03612 5px;
    margin: 20px 0 20px 0;
}

.skill-p {
    font-size: 1.2rem;
}

.experience-container {
    margin-top: 100px;
}

.skill-card {
    padding-top: 20px;
    text-align: left;
}

.flex {
    display: flex;
    justify-content: center;
    
}

@media (max-width: 650px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }
}

.experience-card {
    width: 400px;
    margin: 20px;
    text-align: left;
    border: solid #f03612 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-img {
    height: 200px;
    max-width: 200px;
}

.end-container {
    background-color: #252629;
    padding-top: 50px;
}

.end-img {
    height: 300px;
    border-radius: 30px;
}

.contact {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 40px;
}

.information {
    padding-bottom: 150px;
}

footer {
    background-color: #f03612;
    padding-top: 60px;
}

.social {
    text-decoration: none;
    color: black;
    opacity: 50%;
    font-size: 1.5rem;
    margin: 0px 60px;
}

h4 {
    margin: 0;
    font-size: 1.2rem;
    padding: 50px 0;
}
